/***********************************************
                    Controls
************************************************/
@import "controls/Label.css";
@import "controls/Button.css";
@import "controls/ComboBox.css";
@import "controls/TableView.css";
@import "controls/TextField.css";
@import "controls/Separator.css";
@import "controls/DatePicker.css";

/****************************************/

.vbox {
    -fx-border-color      : -gms-light;
    -fx-border-style      : dotted;
    -fx-border-width      : 3;
    -fx-border-radius     : 10;
    -fx-background-radius : 10;
}



